{% extends "base_full.html" %}

{% block page_content %}

<div id="wrapper"><!-- Being Wrapper -->
	<div id="main_container"><!-- Begin Main Container -->
    	<section id="search">
        <h1>You've been Veto'd!</h1>
        <h2>Just kidding -- we can't find what you're looking for. Please search again!</h2>
        <form action="/results" method="get" class="form-inline address-search">
            <input type="text" name="q" placeholder="Enter Your Address" class="input-xlarge">
            <button type="submit" class="btn btn-success">Who's my rep?</button>
        </form>
        </section>
    </div><!-- End Main Container -->
</div><!-- End Wrapper -->

{% endblock %}
