<!DOCTYPE HTML>
<html>
<head>
{% extends "base_full.html" %}

{% block page_content %}

<section id="content"><!-- Start Main Content -->
    <h1>About MyRep.is</h1>
	<article style="color:#FFFFFF">
        <h2>Who We Are</h2>
            MyRep.is started during the Hacks4Democracy hackathon hosted by Azavea from October XX-XX, 2012. Below is a brief description of some of the team members.
            <dl>
                <dt><i>Christopher Brown</i></dt>
                    <dd>Chris is student in the Political Science PhD Program at the University of Pennsylvania. Chris primarily studies the US Congress, political parties, institutions, and applications of natural language processing to the study of political behavior.</dd>
                    <br>
                <dt><i>Christopher Nies</i></dt>
                <br>
                <dt><i>Jason Blanchard</i></dt>
                <br>
                <dt><i>Andrew Thompson</i></dt>
                <br>
                <dt><i>Nick Weingartner</i></dt>
                    <dd>Nick is a web developer that lives outside Philadelphia. He digs front-end technologies, good movies, audiobooks (don't knock them until you try them) and, of course, democracy. He has a passion for open-source technologies and is grateful to be a part of this project.</dd>
                    <br>
                <dt><i>Lauren Gilchrist</i></dt>
                <br>
                <dt><i>Josh Darr</i></dt>
                <br>
                <dt><i>Charlie Milner</i></dt>
            </dl>
        <h2>What we Do</h2>
        <dt>
            <dd>MyRep.is serves as an information dashboard for Pennsylvanian citizens to monitor their state representatives and senators. The goal is to allow constituents to monitor the activity of their representatives to increase accountability. To that end, MyRep.is seeks to provide not only raw information similar to websites and services like OpenStates, Project Vote Smart, and Follow the Money - which we rely on for some of our data - but to also provide context to this information for Pennsylvanians. Much of the data on our site is already out there; however, we feel it is hard for average citizens to aggregate and monitor the activities of their state representatives.</dd>
        </dt>
        <br>
        <h2>Future Plans</h2>
        This is only the beginning for MyRep.is - we have a number of ideas for how to help Pennsylvanians become better informed about politics in Harrisburg. Over the coming weeks, months, years, decades, and centuries we have a number of new features and plans in the works.
        <br>
        <dl>
            <dt><i>Browse by Topics</i></dt>
                <dd>Right now information for representatives is ordered chronologically. In the next few weeks we also want to organize information by topics to let you browse the activity of your representatives according to the issues you value most.</dd>
            <dt><i>User Registration and Voting</i></dt>
                <dd>We wish to allow users of MyRep.is to register with screenames and allow them to express their approval or disapproval of their representative's actions through "digital votes." These votes can serve as a running tally on your state representatives for when it comes time to vote.</dd>
            <dt><i>Campaign Finance and Donations</i></dt>
                <dd>Add date from Follow the Money and Influence Explorer.</dd>
        </dl>
        </article>
	<div class="clear"></div>
</section><!-- End Main Content -->

{% endblock %}