<!DOCTYPE HTML>
<html>
<head>
{% extends "base_full.html" %}

{% block page_content %}

<section id="content"><!-- Start Main Content -->
    <h1>Listen to all of your represenatives...</h1>
    <div id="all_tweets"><!-- Begin All Tweets -->
        <div class="row-fluid">
            <div class="tweets span6">
                {% if tweets %}
                    {% autoescape off %}
                    {% for tweet in tweets|slice:":20" %}
                        {{ tweet.oembed }}
                    {% endfor %}
                    {% endautoescape %}
                {% else %}
                   We're sorry. Something went wrong and we couldn't find any recent tweets. We are working on a solution right now.
                {% endif %}
            </div>
            <div class="tweets span6">
                {% if tweets %}
                    {% autoescape off %}
                    {% for tweet in tweets|slice:"20:40" %}
                        {{ tweet.oembed }}
                    {% endfor %}
                    {% endautoescape %}
                {% else %}
                    We're sorry. Something went wrong and we couldn't find any recent tweets. We are working on a solution right now.
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="row-fluid">
            <div class="pagination span12" style="text-align: center;">
                <ul>
                    {% if tweets.has_previous %}
                        <li><a href="?page={{ tweets.previous_page_number }}">Newer Tweets</a></li>
                    {% endif %}
                    {% if tweets.has_next %}
                        <li><a href="?page={{ tweets.next_page_number }}">Older Tweets</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- End All Tweets -->
</section><!-- End Main Content -->
    
{% endblock %}
