<!DOCTYPE HTML>
<html>
<head>
{% extends "base_full.html" %}
{% block page_content %}
{% load markup %}
{% load comments %}
<section id="blog"><!-- Start Main Content -->
    <div id="well">
    <h2>Recent Posts</h2>
        <ul>
            {% for post in recentposts %}
                <li><a href="/blog/post_num/{{ post.id }}">- {{ post.title }}</a></li>
            {% endfor %}
    <h2>Recent News Articles</h2>
              {% for link in links %}
                <li><a href="{{ link.link }}" rel="tooltip" data-placement="top" data-original-title="{{ link.description }}">{{ link.title }}</a></li>
              {% endfor %}
        <ul>
        <h2>Tags</h2>
    </div>  
    <div id="posts">
        <h1>StateRep.Me Blog</h1>
        <hr>
        <hr>
            <h2><a href="/blog/post_num/{{ post.id }}">{{ post.title }}</a></h2>
            <ul>
                <div class="blog-time">{{ post.created }}</div>
                <div class="body-blog">{{ post.body|markdown }}</div>
            </ul>
            <hr>
        {% get_comment_count for post as comment_count %}
        <p>{{ comment_count }} comments have been posted.</p>
        {% render_comment_form for post %}
        {% render_comment_list for post %}
    </div>
	<div class="clear"></div>
</section><!-- End Main Content -->
    
{% endblock %}