.m5 { margin : 5px; }
.ml5 { margin-left : 5px; }
.mr5 { margin-right : 5px; }
.mt5 { margin-top : 5px; }
.mt10 { margin-top : 10px; }
.ml10 { margin-left : 10px; }
.mr10 { margin-right : 10px; }
.ml20 { margin-left : 20px; }
.p3 { padding : 3px; }
.p5 { padding : 5px; }
.pb5 { padding-bottom : 5px; }

.w100 { width : 100% }
.undrln { text-decoration : underline }
.nodec { text-decoration : none }
.posr { position : relative }
.floatr { float : right }
.floatl { float : left }
.fgblue { color : blue; }
.fgblack { color : black; }
.fggray { color : gray; }
.fgred { color : red; }
.fggreen { color : green; }
.fgcrimson { color : crimson; }
.bglblue { background-color : lightBlue; }
.pointer { cursor : pointer; }
.vmiddle { vertical-align : middle; }
.vtop { vertical-align : top; }
.calign { text-align : center }
.ralign { text-align : right }
.lalign { text-align : left }
.fntitalic { font-style : italic }
.fntbold { font-weight : bold }
.fntxsmall { font-size : x-small }
.fntsmall { font-size : small }
.fntmedium { font-size : medium }
.fntnormal { font-weight : normal }
.fnt120 { font-size : 120% }
.fnt110 { font-size : 110% }
.dispnone { display : none }
.disptable { display : table }
.disptr { display : table-row }
.disptd { display : table-cell }
.dispinln { display : inline }
.br5 {
  -moz-border-radius : 5px;
  border-radius : 5px;
  -webkit-border-radius : 5px;
}
