{% extends "base_raw.html" %}

{% block page_content %}

<div id="wrapper"><!-- Being Wrapper -->
	<div id="main_container"><!-- Begin Main Container -->
    	<section id="search">
        <h1>StateRep.Me is Coming Soon.</h1>
        <h2>For now, fork us on <a href="https://github.com/staterepme/State-Gov-Tracker" target="_blank">Github</a></h2>
        		<form action="/results" method="get">
            <input type="text" name="q" placeholder="Enter Your Address" class="field">
            <input type="submit" class="button" value="Who's my rep?">
    		</form>
        </section>
    </div><!-- End Main Container -->
</div><!-- End Wrapper -->

{% endblock %}


