/************* EazyText skin *************/
article.etpage {
  white-space : normal
}
article.etblk {
}

/* Text styling */
span.etmark {
}
strong.etmark {
}
em.etmark {
}
u.etmark {
}
sup.etmark {
}
sub.etmark {
}
strong.etmark > em.etmark {
}
strong.etmark > u.etmark {
}
em.etmark > u.etmark {
}
strong.etmark > em.etmark > u.etmark {
}
p.ettext {
}

/* headings */
h1.ethd {
  color : crimson;
}
h2.ethd {
  color : crimson;
}
h3.ethd {
  color : crimson;
}
h4.ethd {
  color : crimson;
}
h5.ethd {
  color : crimson;
}
h6.ethd {
  color : crimson;
}
h1 a.ethdlink, h2 a.ethdlink, h3 a.ethdlink, h4 a.ethdlink, h5 a.ethdlink, h6 a.ethdlink {
  color: #CCCCCC;
  font-size: medium;
  text-decoration: none;
}
h1 a.ethdlink:after, h2 a.ethdlink:after, h3 a.ethdlink:after,
h4 a.ethdlink:after, h5 a.ethdlink:after, h6 a.ethdlink:after {
  content: '¶';
  color : #555;
}

/* sections */
section.etsec-1 {
}
section.etsec-2 {
}
section.etsec-3 {
}
section.etsec-4 {
}
section.etsec-5 {
}
section.etsec-6 {
}

/* Small table */
table.ettbl {
  border-collapse: collapse;
}
tr.ettbl {
}
th.ettbl {
  padding : 5px; border: 1px solid gray;
}
td.ettbl {
  padding : 5px; border: 1px solid gray;
}

/* Big table */
table.etbtbl {
  border-collapse: collapse;
}
tr.etbtbl {
}
th.etbtbl {
  padding : 5px;
  border : 1px solid gray;
}
td.etbtbl {
  padding : 5px;
  border : 1px solid gray;
}

/* Horizontal rule */
hr.ethorz {
}

/* List */
ul.et {
  padding-left : 20px;
}
ol.et {
  padding-left : 20px;
}
li.et {
  margin-left : 0px;
  padding-left : 4px;
}

/* Definitions */
dl.et {
}
dt.et {
}
dd.et {
}

/* Blockquote */
blockquote.et.firstlevel {
  border-left : 2px solid #d6d6d6;
  padding-left : 5px
}
blockquote.et.innerlevel {
  margin-left : 0px;
  border-left : 2px solid #d6d6d6;
  padding-left : 5px;
}

/* Links */
img.et {
}
a.etlink {
}
a.etlink.anchor {
}
a.ethttpuri {
}
a.etwwwuri {
}

/* macro-anchor */
a.etm-anchor {
}

/* macro-clear */
div.etm-clear {
  clear : both;
}

/* macro-image */
div.etm-image {
  margin    : 0px;
  padding   : 0px;
  border    : 0px;
}

/* macro-images */
table.etm-images {
  margin    : 10px;
  padding   : 0px;
  border    : 0px;
}
table.etm-images tr {
}
table.etm-images td {
}
table.etm-images img {
}

/* macro-span */
span.etm-span {
  color   : gray;
  padding : 2px;
}

/* macro-toc */
details.etm-toc {
  background-color : #555;
  float : left;
  margin : 10px 0px 0px 10px;
  padding : 3px;
  width : 20em;
  border : 1px solid;
  border-color : #666 #AAA #AAA #666;
  border-radius : 5px;
  -webkit-border-radius : 5px;
  -moz-border-radius : 5px;
  font-size : small;
}
details.etm-toc summary {
  font-weight : bold;
  color : yellow;
  cursor : pointer;
  margin-left : 5px;
}
details.etm-toc ul {
  list-style : none;
  padding : 5px;
}
details.etm-toc a {
}
details.etm-toc a.level-1 {
  margin-left : 0em;
}
details.etm-toc a.level-2 {
  margin-left : 0.7em;
}
details.etm-toc a.level-3 {
  margin-left : 1.4em;
}
details.etm-toc a.level-4 {
  margin-left : 2.1em;
}
details.etm-toc a.level-5 {
  margin-left : 2.8em;
}
details.etm-toc a.level-6 {
  margin-left : 3.5em;
}

/* extension-box */
div.etext-box .box {
  color         : gray;
  border-top    : thin solid gray;
  border-right  : thin solid gray;
  border-bottom : thin solid gray;
  border-left   : thin solid gray;
}
div.etext-box .boxtitle {
  color          : black;
  background     : #EEEEEE;
  font-weight    : bold;
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}
div.etext-box .boxcont = {
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}
div.etext-box span.boxhide {
  display: none;
  float: right;
  font-size : xx-small;
  color: blue;
  cursor: pointer;
}
div.etext-box span.boxshow {
  display: none;
  float: right;
  font-size : xx-small;
  color: blue;
  cursor: pointer;
}


/* extension-code */
div.etext-code {
  width : 90%;
  margin : 0 auto;
  line-height   : 1.2em;
}
div.etext-code pre {
  margin  : 5px 0px;
}
div.etext-code .highlighttable {
  color : black;
}
div.etext-code .highlighttable td.linenos {
  padding : 3px;
  color : brown;
  border-right : 1px dashed gray;
}
div.etext-code .highlighttable td.code {
  padding : 3px
}
div.etext-code .highlight {
  background-color : #CCC;
}
div.etext-code .codecont {
  background-color : #CCC;
  border : 1px dashed gray;
}

/* extension-frontpage */
section.etext-frontpage div.frontpage {
  text-align : center;
}
section.etext-frontpage div.info {
  margin : 5px 0px;
}
section.etext-frontpage div.info div.key,
section.etext-frontpage div.info div.val {
  display : inline;
  padding : 5px;
}


/* extension-html */
div.etext-html .html {
}

/* extension-nested */
div.etext-nested .nested {
  background-color : transparent;
}

/* Templated tags */
span.etttag.pre {
  white-space : pre;
  font-family : monospace;
}
abbr.etttag {
}
span.etttag.fixme {
  border : 1px solid cadetBlue;
  color : red;
  padding: 1px;
  font-family : monospace;
}
q.etttag {
}
q.etttag:before {
  content : open-quote;
}
q.etttag:after {
  content : close-quote;
}
span.etttag.smile {
  font-size: x-large;
  color: darkOrchid;
  padding: 1px;
  font-family : monospace;
}
span.etttag.sad {
  font-size: x-large;
  color: orangeRed;
  padding: 1px;
  font-family : monospace;
}
address.etttag {
}
span.etttag.fnt {
}
sup.etttag.footnote {
}
sup.etttag.footnote a {
  text-decoration: none;
}

