#Header{
	position: relative;
	text-align: center;
	border: 1px solid #FFF;
	background: #C1D6ED;
	font-size: 30px;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	padding-top: 4%;
	padding-bottom: 4%;;
	font-family:"Helvetica";
}

#Bio{
	float: left;
	background: #DBEBC6;
	position: relative;
	border: 1px solid #000;
	height: 10%;
	padding-top: 50%;
	width: 20%;
}

#Bio img{
	position: inherit;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}

#Info {
	float: left;
	background: #DEF2F8;
	position: relative;
	border: 1px solid #000;
	height: 100%;
	width: 79.5%;
	padding-top: 50%;
}

#Info #Twitter{
	word-wrap: break-word;
	position: inherit;
	float: left;
	height: 100%;
	width: 20%;
	border: 1px solid #000;
	background: #fff;
	padding-left: 2%;
	padding-right: 3%;
}

#Info #Facebook{
	word-wrap: break-word;
	position: inherit;
	float: left;
	height: 100%;
	width: 20%;
	border: 1px solid #000;
	background: #fff;
	padding-left: 2%;
	padding-right: 3%;
}

#Info #News{
	word-wrap: break-word;
	position: inherit;
	float: left;
	height: 100%;
	width: 20%;
	border: 1px solid #000;
	background: #fff;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#Info #Actions{
	word-wrap: break-word;
	float: left;
	height: 100%;
	width: 19%;
	border: 1px solid #000;
	background: #fff;
	padding-left: 2%;
	padding-right: 3%;
}