{% extends "base_raw.html" %}

{% block page_content %}

<div id="wrapper" class="overflow_stop"><!-- Being Wrapper -->
	<div id="main_container"><!-- Begin Main Container -->
    	<section id="search">
        <h1>Welcome to MyRep.is!</h1>
        <h2>Enter your address below to find out who represents you:</h2>
        	<form action="/results" method="get">
            <input type="text" name="q" placeholder="Enter Your Address" class="field">
            <input type="submit" class="button" value="Who's my rep?">
    		</form>
        </section>
    </div><!-- End Main Container -->
</div><!-- End Wrapper -->

{% endblock %}


