{% extends "base_raw.html" %}

{% block page_content %}

<a href="https://github.com/staterepme/State-Gov-Tracker" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 1000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

<div id="wrapper"><!-- Being Wrapper -->
	<div id="main_container"><!-- Begin Main Container -->
        <div class="img-panel">
            <div class="panelleft"></div>
            <div class="panelcenter"></div>
            <div class="panelright"></div>
        </div>
    	<section id="search">
        <h1>Welcome to StateRep.Me</h1>
        <h2>Enter your address below to find out who represents you in Pennsylvania:</h2>
        		<form action="/results" method="get">
            <input type="text" name="q" placeholder="Enter Your Address" class="field">
            <input type="submit" class="button" value="Who's my rep?">
    		</form>
        <h3>Example address: <a href="http://www.beta.staterep.me/results?q=1+Beaver+Stadium++University+Park%2C+PA+16802">1 Beaver Stadium  University Park, PA 16802</a></h3>
        </section>
    </div><!-- End Main Container -->
</div><!-- End Wrapper -->

{% endblock %}


