<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Nick Weingartner Tracker</title>
<link rel="stylesheet/less" href="/static/css/style.less">
<script src="/static/js/less-1.3.0.min.js"></script>
</head>
<body>
<div id="wrapper" class="overflow_stop"><!-- Being Wrapper -->
	<div id="main_container"><!-- Begin Main Container -->
    	<section id="search">
        <h1>Welcome to MyRep.is!</h1>
        <h2>Enter your address below to find out who represents you:</h2>
        	<form action="/results" method="get">
            <input type="text" name="q" placeholder="Enter Your Address" class="field">
            <input type="submit" class="button" value="Who's my rep?">
    		</form>
        </section>
    </div><!-- End Main Container -->
</div><!-- End Wrapper -->
</body>
</html>
