{% extends "base_full.html" %}

{% block page_content %}

<section id="content"><!-- Start Main Content -->
            <h1>{{ official.fullname }}</h1>
            <div class="profile">
            <div id="bio_left">
                <a href="#"><img src="{{ official.picture }}" width="200" height="270" border="0" alt="" title=""></a>
                <H3><a href="{{official.website}}">Homepage</a></H3>
				<h3>Contact Information</h3>
                {% if official.email %}
                    <p><a href="mailto:{{ official.email }}">E-Mail</a></p>
                {% endif %}
                {% if official.office_nums %}
                    {% for office in official.office_nums %}                            
                        <p>{{ office.name }}<br>
                        {{ office.address }}<br>
                        {{ office.phone }}</p>
                        <br>
                    {% endfor %}
                {% else %}
                    <p>Sorry. Something went wrong and we couldn't find any addresses. We're working on a solution.</p>
                {% endif %}
            </div>
            <div id="bio_right">
                <h2> Political Ideology in the State {{ official.position }} </h2>
               <p>{{ official.rank_type }} Ranking of {{ official.fullname }}<br>{{ official.rank }} out of {{ official.num_rank }} (1 = most {{ official.rank_type }})</p>
               <svg id="pref_distribution">
               </svg>

               <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
                <script>
                        var margin = 50,
                            width = 680,
                            height = 100;

                        // add x, y scales
                        var x = d3.scale.linear().range([0+margin, width-margin]).domain([{{ graph_data.x_min }}, {{  graph_data.x_max  }}]);
                        var y = d3.scale.linear().range([height, 0]).domain([0, {{ graph_data.y_max }}]);

                        // map data to an area, use "monotone" interpolation
                        var area = d3.svg.area()
                            .interpolate("monotone")
                            .x(function(d) { return x(d.x_axis); })
                            .y0(height)
                            .y1(function(d) { return y(d.y_axis); });

                        // add svg element to DOM, with desired size
                        var svg = d3.select("svg#pref_distribution")
                            .append("svg")
                            .attr("width", width + margin)
                            .attr("height", height + margin);

                        var rep_distribution = d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("width", width + margin)
                            .attr("height", height + margin);

                        var dem_distribution = d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("class", "dem_distribution")
                            .attr("width", width + margin)
                            .attr("height", height + margin);

                        var bar = d3.select("svg#pref_distribution")
                            .attr("width", width + margin)
                            .attr("height", height + margin);

                        // Add Republicans from State Senate //

                        {% autoescape off %}
                        var dem_data = {{ graph_data.dem }};
                        var rep_data = {{ graph_data.rep }};
                        {% endautoescape %}

                        function myReps(data) {
                          data.forEach(function(d) {
                            d.x_axis = +d.x_axis
                            d.y_axis = +d.y_axis;
                          });

                          rep_distribution.append("path")
                            .attr("class", "rep_distribution")
                            .data([data])
                            .attr("d", area)
                        };

                        // Add Democrats from State Senate //
                        function myDems(data) {
                          data.forEach(function(d) {
                            d.x_axis = +d.x_axis;
                            d.y_axis = +d.y_axis;
                          });

                          // render data as a path element, using area function
                          dem_distribution.append("path")
                              .data([data])
                              .attr("d", area)
                        };
                        myDems(dem_data);
                        myReps(rep_data);
                        
                        // X Axis
                        var x_axis = d3.svg.axis().scale(x);
                        d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("class", "x axis")
                            .attr("transform", "translate(0," + (height) + ")")
                            .call(x_axis);

                        // Y Axis
                        var y_axis = d3.svg.axis().scale(y).orient("left");

                        d3.select(".x.axis")
                            .append("text")
                            .text("Liberal")
                            .attr("transform", "translate(40,30)");

                        d3.select(".x.axis")
                            .append("text")
                            .text("Conservative")
                            .attr("transform", "translate(595,30)");

                        var position = {{ official.ideology }};

                        var data = [{"value":position, "name":"Testing Name Hover!"}]

                        var bw = 3;

                        bar.selectAll("rect.bar")        //Select all not-yet-existing rects with class 'bar'
                            .data(data)                  //Bind array of data values to the empty selection
                            .enter()                    //Returns the selection of new elements needed
                            .append("rect")              //Create a 'rect' for each one, and for each 'rect'…
                            .attr("class", "bar")        //  assign a class of 'bar', so CSS styles will be applied
                            .attr("x", function(d) {
                                return x(d.value)-1;           //  set x value to index value times bar width
                            })
                            .attr("width", bw-1)       //  set width to bar width minus 1 (for visual padding)
                            .attr("y", function(d) {
                                return height - y(0);      //  set y value to height minus the data value
                            })
                            .attr("height", function(d) {
                                return y(0);          //  set height to height the data value
                            });

                </script>
                <article class="widget news">
                	<h4>Press Releases</h4>
                    <ul>
					{% if official.press_release %}
                        {% for release in official.press_release %}                            
                            <li><a href="{{ release.url }}">{{release.date}}</a> - {{release.title|truncatechars:120}}</li>
                        {% endfor %}
                    {% else %}
                        <li>Sorry. Something went wrong and we couldn't find any press releases. We're working on a solution.</li>
                    {% endif %}
                    </ul>
                </article>
                
                <article class="widget votes">
                	<h4>Recent Votes</h4>
                    <ul>
                    {% if official.votes %}
                        {% for vote in official.votes %}                            
                            <li>{{ vote.vote_yno }} : {{ vote.title|truncatechars:120}} - <a href="{{ vote.url }}">{{ vote.date }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>Sorry. Something went wrong and we couldn't find any votes. We're working on a solution.</li>
                    {% endif %}
                    </ul>
                </article>
                
                <div class="clear"></div>
                
                <article class="widget twitter">
                	<h4>Recent Tweets</h4>
                    <ul>
                    	{% if official.tweets %}
                            {% autoescape off %}
                            {% for tweet in official.tweets %}
                                <li><a href="{{ tweet.url }}">{{ tweet.timestamp }}</a> - {{ tweet.tweet|urlizetrunc:30 }}</li>
                            {% endfor %}
                            {% endautoescape %}
                        {% else %}
                            <li>We couldn't find any Tweets from your Representative. Contact them to let them know they should use Twitter to keep their constituents informed about their activities and state politics!</li>
                            <li>If you think there is a Twitter account for this representative, send us an <a href="mailto:pastategovtracker@gmail.com">e-mail!</a></li>
                        {% endif %}
                    </ul>
                </article>
                
                <article class="widget facebook">
                	<h4>Recent Facebook Posts</h4>
                    <ul>
                    	{% if official.fb_posts %}
                            {% for fb_post in official.fb_posts %}
                                <li>{{ fb_post.post|truncatechars:120|urlizetrunc:30 }}  <a href="{{ fb_post.url }}">{{ fb_post.date }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li>We couldn't find any Facebook Posts from your Representative. Contact them to let them know they should use Facebook to keep their constituents informed about their activities and state politics!</li>
                            <li>If you think there is a Facebook account for this representative, send us an <a href="mailto:pastategovtracker@gmail.com">e-mail!</a></li>
                        {% endif %}
                    </ul>
                </article>
                
            </div>
    
             <div class="clear"></div>
         </div>
    </section><!-- End Main Content -->

{% endblock %}
