{% extends "base_full.html" %}

{% load profile_filters %}

{% block page_content %}
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function vote(vote_type, object_id, content_type) {
        var postdata={
          'vote':vote_type, 
          'object_id':object_id,
          'content_type':content_type,
          'csrfmiddlewaretoken': "{{ csrf_token }}"
        }
        $.post("/vote/", postdata, 
            function(data) {
                id_selector = "#num_votes"+ '_' + object_id + '_' + content_type
                id_sel = id_selector.replace(".","")
                $(id_sel).text(data);
           }
        )
    };
</script>

<section id="content"><!-- Start Main Content -->
    <div class="row-fluid">
         <h1>{{ official.fullname }}</h1>
    </div>
    <div class="row-fluid">
            <div class="profile">
            <div class="span3">
                <div id="bio_left">
                   <div style="text-align:center;">
                   <img class="img-polaroid" src="{{ official.photourl }}" width="200" height="270" border="0" alt="Picture of {{ official.fullname }}" title="">
                   <div style="margin-top:30px;"></div>
                    <H3><a href="{{official.homepage}}">Homepage</a></H3>
    				<h3>Contact Information</h3>
                    {% if official.email %}
                        <h4><a rel="tooltip" id="email" title="first tooltip" href="mailto:{{ official.email }}">E-Mail</a></h4>
                    {% endif %}
                    {% if official.offices %}
                        {% for office in official.offices %}                            
                            <h3>{{ office.name }}</h3>
                            <h4>{{ office.address }}</h4>
                            <h4>{{ office.phone }}</h4>
                        {% endfor %}
                    {% else %}
                        <p>Sorry. Something went wrong and we couldn't find any addresses. We're working on a solution.</p>
                    {% endif %}
                </div>
                </div>
            </div>
            <div class="span9" id="bio_right">
                <h2> Political Ideology in the State {{ official.chamber_name }} </h2>
               <p>{{ official.rank_type }} Ranking of {{ official.fullname }}<br>{{ official.rank }} out of {{ official.num_rank }} (1 = most {{ official.rank_type }})</p>
               <svg id="pref_distribution">
               </svg>

               <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
                <script>
                    function draw_graph() {
                        var margin = 50,
                            side_margin = 20,
                            width = $("#bio_right").width(),
                            height = 100;

                        // add x, y scales
                        var x = d3.scale.linear().range([0+side_margin, width-side_margin]).domain([{{ graph_data.x_min }}, {{  graph_data.x_max  }}]);
                        var y = d3.scale.linear().range([height, 0]).domain([0, {{ graph_data.y_max }}]);

                        // map data to an area, use "monotone" interpolation
                        var area = d3.svg.area()
                            .interpolate("monotone")
                            .x(function(d) { return x(d.x_axis); })
                            .y0(height)
                            .y1(function(d) { return y(d.y_axis); });

                        // add svg element to DOM, with desired size
                        var svg = d3.select("svg#pref_distribution")
                            .append("svg")
                            .attr("width", width)
                            .attr("height", height + margin);

                        var rep_distribution = d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("width", width)
                            .attr("height", height);

                        var dem_distribution = d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("class", "dem_distribution")
                            .attr("width", width)
                            .attr("height", height);

                        var bar = d3.select("svg#pref_distribution")
                            .attr("width", width)
                            .attr("height", height + margin);

                        // Add Republicans from State Senate //

                        {% autoescape off %}
                        var dem_data = {{ graph_data.dem }};
                        var rep_data = {{ graph_data.rep }};
                        {% endautoescape %}

                        function myReps(data) {
                          data.forEach(function(d) {
                            d.x_axis = +d.x_axis
                            d.y_axis = +d.y_axis;
                          });

                          rep_distribution.append("path")
                            .attr("class", "rep_distribution")
                            .data([data])
                            .attr("d", area)
                        };

                        // Add Democrats from State Senate //
                        function myDems(data) {
                          data.forEach(function(d) {
                            d.x_axis = +d.x_axis;
                            d.y_axis = +d.y_axis;
                          });

                          // render data as a path element, using area function
                          dem_distribution.append("path")
                              .data([data])
                              .attr("d", area)
                        };
                        myDems(dem_data);
                        myReps(rep_data);
                        
                        // X Axis
                        var x_axis = d3.svg.axis().scale(x);
                        d3.select("svg#pref_distribution")
                            .append("g")
                            .attr("class", "x axis")
                            .attr("transform", "translate(0," + (height) + ")")
                            .call(x_axis);

                        // Y Axis
                        var y_axis = d3.svg.axis().scale(y).orient("left");

                        // X-Axis Titles //
                        d3.select(".x.axis")
                            .append("text")
                            .text("Liberal")
                            .attr("transform", "translate("+0+side_margin+",30)");
                        axis_label = width-side_margin;
                        d3.select(".x.axis")
                            .append("text")
                            .text("Conservative")
                            .attr("transform", "translate("+axis_label+",30)")
                            .attr("text-anchor", "end");
                        center_axis_label = width/2
                        d3.select(".x.axis")
                            .append("text")
                            .text("Distribution of Political Ideology")
                            .attr("transform", "translate("+center_axis_label+",40)")
                            .attr("text-anchor", "middle");

                        var position = {{ ideology }};

                        var dataposition = [{"value":position}];

                        var datalabel = [{"value":position, "name":"Ideal point of"}, {"value":position, "name":"{{ official.fullname }}"}]

                        var bw = 3;

                        bar.selectAll("rect.bar")
                            .data(dataposition)
                            .enter()
                            .append("rect")
                            .attr("class", "bar")
                            .attr("x", function(d) {
                                return x(d['value'])-1;
                            })
                            .attr("width", bw-1)
                            .attr("y", function(d) {
                                return height - y(0);
                            })
                            .attr("height", function(d) {
                                return y(0);
                            });

                        // Label of bar //
                        bar.selectAll("label")
                            .data(datalabel)
                            .enter()
                            .append("text")
                            .attr("x", function(d) {
                                return x(d['value'])+3;
                            })
                            .attr("y", function(d, i) {
                                return (i+1)*12;
                            })
                            .style("fill", "white")
                            .style("z-index", "99999999")
                            .text(function(d) {
                                return (d['name']);
                            });
                        };
                    draw_graph();
                </script>
                <div class="row-fluid">
                    <div class="span6 widget press-releases">
                    	<h3>Press Releases</h3>
                        <div class="leg_stuff">
    					{% if press_releases %}
                            {% for release in press_releases %}
                                <div class="activity-entry">
                                    <div class="vote_div">
                                        <i rel="tooltip" class="icon-thumbs-up icon-white" onclick="vote('1', '{{release.pk}}', 'state_gov_tracker_app.OfficialPressReleases');"></i>
                                        <span id="num_votes_{{release.pk}}_state_gov_tracker_appOfficialPressReleases">{{ release.vote_total }}</span>
                                        <i class="icon-thumbs-down icon-white" onclick="vote('-1', '{{release.pk}}', 'state_gov_tracker_app.OfficialPressReleases');"></i>
                                    </div>
                                    <div class="activity-text">
                                        {{release.pr_title|truncatechars:120}}. <span class="leg_activity_nav"><a href="{{ release.pr_url }}" target="_blank">{{release.pr_date}}</a></span>
                                    </div>
                                </div>                        
                            {% endfor %}
                        {% else %}
                            <p>Sorry. Something went wrong and we couldn't find any press releases. We're working on a solution.</p>
                        {% endif %}
                    </div>
                    </div>
                    <div class="span6 widget votes">
                        <h3>Recent Votes</h3>
                        <div class="leg_stuff">
                        {% if votes %}
                            {% for v in votes %}
                                <div class="activity-entry">
                                    <div class="vote_div">
                                        <i class="icon-thumbs-up icon-white" onclick="vote('1', '{{v.pk}}', 'state_gov_tracker_app.PaLegisVotes');"></i>
                                        <span id="num_votes_{{v.pk}}_state_gov_tracker_appPaLegisVotes">{{ v.vote_total }}</span>
                                        <i class="icon-thumbs-down icon-white" onclick="vote('-1', '{{v.pk}}', 'state_gov_tracker_app.PaLegisVotes');"></i>
                                    </div>
                                    <div class="activity-text">
                                        {{ v.vote|num_to_vote }} : {{ v.bill_id.title|truncatechars:120 }} <span class="leg_activity_nav"><a href="{{ v.bill_id_id|voteurl }}" target="_blank">{{ v.date|shorten_date }}</a></span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Sorry. Something went wrong and we couldn't find any votes. We're working on a solution.</p>
                        {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="row-fluid">                
                <div class="span6 widget recent_tweets">
                	<h3>Recent Tweets</h3>
                        <div class="leg_stuff">
                    	{% if tweets %}
                            {% autoescape off %}
                            {% for tweet in tweets %}
                                <div class="activity-entry">
                                    <div class="vote_div">
                                        <i class="icon-thumbs-up icon-white" onclick="vote('1', '{{tweet.pk}}', 'state_gov_tracker_app.OfficialTweets');"></i>
                                        <div style="text-align:center;" id="num_votes_{{tweet.pk}}_state_gov_tracker_appOfficialTweets">{{ tweet.vote_total }}</div>
                                        <i class="icon-thumbs-down icon-white" onclick="vote('-1', '{{tweet.pk}}', 'state_gov_tracker_app.OfficialTweets');"></i>
                                    </div>
                                    <div class="activity-text">
                                    {{ tweet.tweet|urlizetrunc:30 }} | <span class="leg_activity_nav"><a href="{{ tweet.url }}" target="_blank">{{ tweet.timestamp }}</a></span>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endautoescape %}
                        {% else %}
                        <div class="activity-entry">
                            <p>We couldn't find any Tweets from your Representative. Contact them to let them know they should use Twitter to keep their constituents informed about their activities and state politics!</p>
                            <p>If you think there is a Twitter account for this representative, send us an <a href="mailto:pastategovtracker@gmail.com">e-mail!</a></p>
                        </div>
                        {% endif %}
                        </div>
                </div>
                
                <div class="span6 widget fb-posts">
                	<h3>Recent Facebook Posts</h3>
                    <div class="leg_stuff">
                    	{% if fb_posts %}
                            {% for fb_post in fb_posts %}
                                <div class="activity-entry">
                                    <div class="vote_div">
                                        <i class="icon-thumbs-up icon-white" onclick="vote('1', '{{fb_post.pk}}', 'state_gov_tracker_app.FbData');"></i>
                                        <span id="num_votes_{{fb_post.pk}}_state_gov_tracker_appFbData">{{ fb_post.vote_total }}</span>
                                        <i class="icon-thumbs-down icon-white" onclick="vote('-1', '{{fb_post.pk}}', 'state_gov_tracker_app.FbData');"></i>
                                    </div>
                                    <div class="activity-text">
                                        {{ fb_post.post|truncatechars:120|urlizetrunc:30 }}  <span class="leg_activity_nav"><a href="{{ fb_post.post_id|facebook_url }}" target="_blank">{{ fb_post.timestamp }}</a></span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="activity-entry">
                            <p>We couldn't find any Facebook Posts from your Representative. Contact them to let them know they should use Facebook to keep their constituents informed about their activities and state politics!</p>
                            <p>If you think there is a Facebook account for this representative, send us an <a href="mailto:pastategovtracker@gmail.com">e-mail!</a></p>
                        </div>
                        {% endif %}
                </div>
                </div>
            </div>
            </div>
    </div>
             <div class="clear"></div>
    </div>
    </section><!-- End Main Content -->
<script type="text/javascript">
    $(window).resize( function() {
        $('#pref_distribution').empty();
        draw_graph();
    });
</script>

<script type="text/javascript">
    $('.icon-thumbs-up').tooltip({'title':"Approve Activity",
        "delay": { "show": 500, "hide": 100 }})
    $('.icon-thumbs-down').tooltip({'title':"Disapprove Activity",
        "delay": { "show": 500, "hide": 100 }})
</script>
{% endblock %}
