{% extends "base_full.html" %}

{% block page_content %}

    <section id="content"><!-- Start Main Content -->
        <h1>These are the people that represent you:</h1>
    	<div class="search_results">
            <article>
                <h2>Senator</h2>
                <a href="/profile/{{upper_legid}}"><img src="{{ upper.image }}" width="200" height="270" border="0" alt="" title=""></a>
                <h3>{{upper.first_name}} {{ upper.last_name}}</a><br><br></h3>
                <p>{{upper.address}}</p>
                <p>{{upper.phone}}</p>
                <p><a href="/profile/{{upper_legid}}">Learn more...</a></p>
            </article>
            <article>
                <h2>Representative</h2>
                <a href="/profile/{{lower_legid}}"><img src="{{ lower.image }}" width="200" height="270" border="0" alt="" title=""></a>
                <h3>{{lower.first_name}} {{lower.last_name}}</a><br><br></h3>
                <p>{{lower.address}}</p>
                <p>{{lower.phone}}</p>
                <p><a href="/profile/{{lower_legid}}">Learn more...</a></p>
            </article>
            <div class="clear"></div>
         </div>
    </section><!-- End Main Content -->


{% endblock %}
