div.menupane-pa {
  font-size : 103%;
  font-family : Amaranth, Helvetica, Arial, sans-serif;
}
div.menupane-pa ul {
  list-style : none;
  padding : 0px 0px 0px 10px;
  margin : 0px;
  text-align : left;
}
div.menupane-pa li {
  margin : 3px 0px;
  padding-left : 3px;
}
div.menupane-pa li.menutitle {
  background-color: #444;
  margin-top : 10px;
}
div.menupane-pa li.menutitle:nth-child(1) {
  margin-top : 0px;
}
div.menupane-pa li a {
  text-decoration : none;
}
div.menupane-pa li a:hover {
  text-decoration : underline;
}

