div.iconfig-pa {
}
div.iconfig-pa .sectitle {
  text-align : center;
  background-color : #555;
  color : yellow;
}
div.iconfig-pa ul {
  list-style : none;
  padding-left : 0px;
}
div.iconfig-pa li.spec {
  margin : 5px;
}
div.iconfig-pa li.spec div.specname b {
  color : burlyWood;
  width : 10em;
}
div.iconfig-pa li.spec table.specval {
  margin-left : 10px;
}
div.iconfig-pa li.spec table.specval td {
  color : #CCC;
  padding : 2px 10px;
}
div.iconfig-pa li.spec table.specval em.default {
  font-size : small;
}
div.iconfig-pa li.spec table.specval span.saving {
  visibility : hidden;
  font-size : x-small;
}
div.iconfig-pa li.spec table.specval td:first-child {
  color : #999;
}
div.iconfig-pa li.spec div.help {
  font-style : italic;
  color : gray;
  margin-left : 20px;
}
