<!--
	background-image:url('{{ STATIC_URL }}static/Harrisburg.jpg');
	background-size: cover -->

<html>
<head>
    <title>MyRep.is</title>
	<style type="text/css">
	body 
	{
	position:fixed;
	top:100px;
	right:650px;
	background-image:url('http://farm3.staticflickr.com/2040/2392125726_29fb17ae2a_o_d.jpg');

	}
	</style>
</head>
<body>
	<center><H2><font face="Helvetica">Welcome to MyRep.is! Enter your address below:</font></H2><br></center>
    <center><form action="/MyRep" method="get">
        <input type="text" name="q" size=100>
        <input type="submit" value="Who's my rep?">
    </form></center>
</body>
</html>