*.swp
.*
*.db
*.pyc
*login_credentials.py
*.DS_Store
*settings.py
StateGovTracker_Django
data_scripts/load_database.py

ansible_vars.yml
local_settings.yml

state_gov_tracker_app/.DS_Store

env/bin/activate

env/bin/activate.csh

env/bin/activate.fish

env/*
/playbooks/ansible_vars.yml~
