{% extends "registration/registration_base.html" %}
{% load bootstrap_tags %}
{% block page_content %}
<section id="content">
    <div class="row-fluid">
        <div class="span3 offset5">
            <fieldset>
                <legend>Confirm password reset</legend>
                <form method="post" action="">{% csrf_token %}
                    {{ form|as_bootstrap }}
                    <button class="btn btn-success" type="submit">Set Password</button>
                </form>
            </fieldset>
        </div>
    </div>
</section>
{% endblock %}
