{% extends "registration/registration_base.html" %}
{% load bootstrap_tags %}
{% block page_content %}
<section id="content">
    <div class="row-fluid">
        <div class="span2">
        <fieldset>
            <legend>Change Password</legend>
            <form method='post' action=''>{% csrf_token %}
                {{ form|as_bootstrap }}
                <button type='submit' class='btn btn-success'>Change Password</button>
            </form>
        </fieldset>
        </div>
    </div>
</section>
{% endblock %}
