/* HTML Reset */

html, body {
    height: 100%;
}

body {
    color: rgb(231, 225, 225);
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 300;
    background:url(../images/thatch.png) fixed;
}

a, a:visited {
    color: #51A351;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
}

h2 {
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}

h3 {
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: .9;
}

/* Header */

h1.home-page-header {
  color: white;
}

h2.home-page-subtitle {
    color: white;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* Layout */

.wrapper {
    width: 90%;
    margin: 0 auto -80px;;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

@media (max-width:600px) {
  .wrapper {
    width: 100%;
  }
}

/* Homepage */

.home-search-bar {
  margin-bottom: 10px !important;
}

#search-form {
    margin-top: 60px;
}

.home-logo {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}


/* Pages */

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.header-links li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
}

.search-again-form {
    margin-bottom: 0px;
    margin-top: 30px;
    float: right;
}

.home-header h1 {
    margin-bottom: 0px;
}

.home-header p {
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#push, #footer {
    height: 80px;
}

/* Footer */

.footer {
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.footer .home-footer {
  background-color: none;
}

@media (max-width:600px) {
    .footer {
       width: 99%;
    }
}

.footer-content {
    margin: 10px;
    font-size: 0.87em;
}

.footer-content ul li {
    display: inline;
}

.footer-links {
    text-align: right;
}

.footer-links a, .footer-links a:visited {
    color: white;
}

.small-help-text a {
    color: #51A351;
}

.small-help-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 27px;
}

form.address-search {
    margin: 3px 0;
}

.image-attribution {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: .9em;
    margin-top: 200px;
}

.image-attribution2 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: .9em;
}

.cicero-attribution {
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: .9em;
    margin-top: 500px;
}

.powered_by_cicero {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.attribution {
    border-radius: 5px;
    padding: 5px;
}

.powered_by_bing {
    width: 50px;
    border-radius: 5px;
    padding: 2px;
}

.image-attribution a, .image-attribution a:visited {
    color: #51A351;
}

.header-title a {
    color: white;
}

#content {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.well {
    background: none;
    border: none;
    padding: 10px;
}

.intermediate-info {
    text-align: center;
}

.intermediate-info img {
    border: 4px solid white;
}

.intermediate-info img:hover {
    border: 4px solid #51A351;;
}

section#content {
    margin-top: 10px;
    min-height: 620px;
}

.modal-body {
    color: #313131;
}

.modal-header {
    color: #51A351;
}

/* Profile/Info Pages */
.widget {
    padding: 5px;
    height:240px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.profile-homepage-link {
  margin-bottom: 15px;
}

h3.profile-contact-info {
  margin-bottom: 0px;
  border-radius: 6px;
}

.profile-contact-address {
  border: 1px solid rgb(78, 78, 78);
  margin-bottom: 10px;
}

.icon-thumbs-up {
    cursor: hand;
    cursor: pointer;
}

.icon-thumbs-down {
    cursor: hand;
    cursor: pointer;
}

.press-releases {
    background-color: #845029;
}

h3.no-margins {
  padding-left: 5px;
}

.votes {
    background-color: #7e3443;
}

.recent_tweets {
    background-color: #426d9e;
}

.fb-posts {
    background-color: #384b6a;
}

.leg_stuff {
    margin-top: -2px;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5px;
    overflow: auto;
    height: 190px;
}

.leg_activity_nav {
    min-width: 150px;
    font-size: 95%;
    text-align: left;
    white-space: nowrap;
}

.activity-entry {
    width: inherit;
    min-height:50px;
    margin-bottom:15px;
}
.vote_div {
    float: left;
    width: 20px;
    /*height: 70px;*/
    text-align: center;
    /*margin-right: 8px;*/
}

.activity-text {
    margin-left: 28px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}

p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
    margin-bottom: 0px;
}

.body_blog>p {
    margin-bottom: 10px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.1;
}

/* Ideology Graphs */

svg {
  font: 10px sans-serif;
}

.dem_distribution {
    fill: steelblue;
}

.rep_distribution {
    fill: #F62817;
}

.bar {
  fill: white;
}

.axis path{ fill:none;
    stroke: white;
}

.axis {
    font-size:8pt;
    font-family:sans-serif;
    fill: white;
}

.tick { 
    fill: none;
    stroke: white;
}

/* Blog */

/* Hide Honeypot Field for Comments */
#id_honeypot {
    display: none;
}

.comment_post {
    margin-top: 10px;
    border-top: solid;
    border-width: 1px;
    border-color: #c0c0c0;
}

.submit_date {
    text-align: right;
    font-size: 16px;
    font-weight: lighter;
}

.comment_by {
    font-size: 16px;
    font-weight: lighter;
    font-variant:small-caps;
}

.comment_name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.comment_text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: lighter;
}

.comment_form_section {
    margin-top: 20px;
}

.blog_header {
    text-align: right;
    border-bottom: solid;
    border-width: 1px;
}

.blog_post h1, .blog_post h2, .blog_post h3 {
  color: rgb(48, 48, 48);
}

/*.blog_header > h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 38.5px;
    font-variant:small-caps;
}
*/
#well {
    padding: 20px;
}

#posts {
    padding: 20px;
}

#posts > h2 {
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body_blog {
    margin-bottom: 20px;
}

.body_blog > p {
    font-size: 16px;
}

.blog_post {
    margin-top: 20px;
    border: solid;
    border-color: rgba(245, 245, 245, .5);
    padding: 20px;
    background: rgba(244, 244, 244, 1);
    border-width: 3px;
    box-shadow: inset 0 0 20px rgb(245, 245, 245);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: black;
}

.byline {
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: .9;
}

.blog_time {
    font-variant: small-caps;
    margin-top: -10px;
    text-align: left;
    border-bottom: solid;
    border-width: 1px;
    width: 100px;
    margin-bottom: 20px;
}

/* Registration Pages */
legend {
    color: white;
}

/* Browse Legislators Page */
.browse_nav {
    border-bottom: solid;
    border-width: 1px;
}

/* At A Glance Graph Elements */
.line {
  fill: none;
  stroke: #426d9e;
  stroke-width: 1.5px;
}

.circle {
    fill: #426d9e;
    stroke: #426d9e;
}

.total_tweets {
    fill: #426d9e;
}

.graph_label {
    color: white;
}

.at_a_glance_div {
    padding: 5px;
    height:400px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.activity_stuff {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5px;
    overflow: auto;
    height: 390px;
}

.center { 
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* About Me Page */

.staterep_team>p {
    padding-left: 25px;
}

.staterep_team>h3 {
    margin-top: 15px;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li > a {
    background: #707070;
}

.bio_text {
    float: left;
    width: 100%;
    text-align: justify;
}

.pull_quote_left {
    float: left;
    max-width: 400px;
    margin-right: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    font-size: 11px;
    line-height: 12px;
}

.pull_quote_right {
    float: right;
    max-width: 400px;
    margin-left: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    font-size: 11px;
    line-height: 12px;
}

@media (max-width:600px) {
  .pull_quote_right {
    margin-right: 0;
  }
  .pull_quote_left {
    margin-left: 0;
  }
}

dt {
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}
